<h1>Welcome to <%= @crm_app_name %></h1>
<p>Main menu</p>
<ul>
  <li><a href="/contacts">View all contacts</a></li>
  <!-- please complete me with links to other actions -->
</ul>
<!--
<body>
  <h1> <%= %></h1>
        <a href="/contacts"><button type="submit" formaction="/contacts" formmethod="get" name="see_contacts" id="see_contacts">See contacts</button></a>
        <button action ="/contacts" type="submit" name="ad_contact" id="see_contacts" value="see contacts">Add a contact</button>
    <form action="/add_contact" method="get">
        <button action ="/contacts" type="submit" name="see_contacts" id="see_contacts" value="see contacts">Edit a contact</button>
    </form>
</body>
-->



<!-- ERB code: <% = function, <%= show the stuff -->

