<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" type="text/css" href="../../stylesheet.css">
  </head>

  <body>
    <h1><%= yield_content :title %></h1>
    <div id="main_menu">
      <ul class="left-menu">
        <li id="first"><a href="/contacts">Long list</a></li>
        <li id="second"> <a href="/contacts/a_z">Short list</a></li>
      </ul>
      <ul class="right-menu">
        <li id="second"> <a href="/contacts/new">Add a contact</a></li>
        <li id="last"><a href="/contacts/search">Search a contact</a></li>
      </ul>
    </div>

    <div class="content">
      <%= yield %>
    </div>
  </body>
</html>