<% content_for :title do %>
Add a new contact to your CRM
<% end %>

    <form action="/contacts" id="new_contact" method="post">
      <input type="text" name="first_name" id="first_name" placeholder="first name"></input>
      <input type="text" name="last_name" id="last_name" placeholder ="last name"></input>
      <input type="text" name="address" id="address" placeholder ="address"></input>
      <input type="text" name="postcode" id="postcode" placeholder ="postcode"></input>
      <input type="text" name="place" id="place" placeholder ="place"></input>
      <input type="text" name="email" id="email" placeholder ="yourname@domain.ch"></input>
      <textarea type="text" name="notes" id="notes" placeholder ="your notes here"></textarea>
      <!-- <label for="login_password">Password</label> -->
      <fieldset>
        <input type="submit" name="login_submit" id="login_submit" value="Add new contact">
       <!-- <label><input type="checkbox" name="login_remember" id="login_remember"> Stay signed in</label> -->
      </fieldset>
    </form>
