<% content_for :title do %>
Search for a contact
<% end %>

    <form action="/search" id="search" method="get">
      <input type="text" name="last_name" id="last_name" placeholder ="last name"></input>
      <!-- <label for="login_password">Password</label> -->
      <fieldset>
        <input type="submit" name="login_submit" id="login_submit" value="Search contact">
       <!-- <label><input type="checkbox" name="login_remember" id="login_remember"> Stay signed in</label> -->
      </fieldset>
    </form>
